---
interface Props { announcement: string; }
const { announcement } = Astro.props;
const PUZZLE = "M15,15L38,15C38,0 62,0 62,15L85,15L85,38C100,38 100,62 85,62L85,85L62,85C62,70 38,70 38,85L15,85L15,62C30,62 30,38 15,38Z";
---
<div class="top-bar">
  <svg class="puzzle-icon" aria-label="autism awareness" viewBox="0 0 100 100" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path d={PUZZLE} />
  </svg>
  <span>{announcement}</span>
  <svg class="puzzle-icon" aria-hidden="true" viewBox="0 0 100 100" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path d={PUZZLE} />
  </svg>
</div>
