---
interface Props { announcement: string; }
const { announcement } = Astro.props;
const PUZZLE = "M30,20L38,20A12,12 0 0,0 62,20L70,20Q80,20 80,30L80,38A12,12 0 0,1 80,62L80,70Q80,80 70,80L62,80A12,12 0 0,0 38,80L30,80Q20,80 20,70L20,62A12,12 0 0,1 20,38L20,30Q20,20 30,20Z";
---
<div class="top-bar">
  <svg class="puzzle-icon" aria-label="autism awareness" viewBox="0 0 100 100" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path d={PUZZLE} />
  </svg>
  <span>{announcement}</span>
  <svg class="puzzle-icon" aria-hidden="true" viewBox="0 0 100 100" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path d={PUZZLE} />
  </svg>
</div>
