---
interface Props {
  announcement: string;
}
const { announcement } = Astro.props;
---

<div class="top-bar">
  <!-- Puzzle piece = autism awareness symbol -->
  <svg class="puzzle-icon" aria-label="símbolo autismo" viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path d="M15 2h10v5.5c0 .6.3 1.1.8 1.4.5.3 1.1.3 1.6 0 .8-.5 1.8-.3 2.4.4l3.4 3.4c.7.7.9 1.6.4 2.4-.3.5-.3 1.1 0 1.6.3.5.8.8 1.4.8H38v10h-5.5c-.6 0-1.1.3-1.4.8-.3.5-.3 1.1 0 1.6.5.8.3 1.8-.4 2.4l-3.4 3.4c-.7.7-1.6.9-2.4.4-.5-.3-1.1-.3-1.6 0-.5.3-.8.8-.8 1.4V38H15v-5.5c0-.6-.3-1.1-.8-1.4-.5-.3-1.1-.3-1.6 0-.8.5-1.8.3-2.4-.4L6.8 27.3c-.7-.7-.9-1.6-.4-2.4.3-.5.3-1.1 0-1.6-.3-.5-.8-.8-1.4-.8H2V12h5.5c.6 0 1.1-.3 1.4-.8.3-.5.3-1.1 0-1.6-.5-.8-.3-1.8.4-2.4l3.4-3.4c.7-.7 1.6-.9 2.4-.4.5.3 1.1.3 1.6 0 .5-.3.8-.8.8-1.4V2z"/>
  </svg>
  <span>{announcement}</span>
  <svg class="puzzle-icon" aria-hidden="true" viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path d="M15 2h10v5.5c0 .6.3 1.1.8 1.4.5.3 1.1.3 1.6 0 .8-.5 1.8-.3 2.4.4l3.4 3.4c.7.7.9 1.6.4 2.4-.3.5-.3 1.1 0 1.6.3.5.8.8 1.4.8H38v10h-5.5c-.6 0-1.1.3-1.4.8-.3.5-.3 1.1 0 1.6.5.8.3 1.8-.4 2.4l-3.4 3.4c-.7.7-1.6.9-2.4.4-.5-.3-1.1-.3-1.6 0-.5.3-.8.8-.8 1.4V38H15v-5.5c0-.6-.3-1.1-.8-1.4-.5-.3-1.1-.3-1.6 0-.8.5-1.8.3-2.4-.4L6.8 27.3c-.7-.7-.9-1.6-.4-2.4.3-.5.3-1.1 0-1.6-.3-.5-.8-.8-1.4-.8H2V12h5.5c.6 0 1.1-.3 1.4-.8.3-.5.3-1.1 0-1.6-.5-.8-.3-1.8.4-2.4l3.4-3.4c.7-.7 1.6-.9 2.4-.4.5.3 1.1.3 1.6 0 .5-.3.8-.8.8-1.4V2z"/>
  </svg>
</div>
